In [1]:
import pandas as pd

In [5]:
df1 = pd.DataFrame([[1,2,3,4],[2,2,2,4],[5,5,5,5], [6,6,6,6]], columns = ['title_NRK1', 'desc_NRK1', 'title_NRK2','desc_NRK2'])

In [6]:
df1

   title_NRK1  desc_NRK1  title_NRK2  desc_NRK2
0           1          2           3          4
1           2          2           2          4
2           5          5           5          5
3           6          6           6          6

In [41]:
colname = list(df1)
fields = ['NRK1','NRK2']

In [51]:
colname

['title_NRK1', 'desc_NRK1', 'title_NRK2', 'desc_NRK2']

In [69]:
fields = ['NRK1', 'NRK2']
res = [[i for i in colname if field in i] for field in fields] 
query = ['+'.join(y) for y in res]

In [76]:
query

['title_NRK1+desc_NRK1', 'title_NRK2+desc_NRK2']

In [72]:
for i in range(len(fields)):
    df1[fields[i]] = df1.eval(query[i])

Index(['title_NRK1', 'desc_NRK1', 'title_NRK2', 'desc_NRK2', 'NRK1', 'NRK2'], dtype='object')

In [ ]:
def

In [31]:
s = ""
for colname in colname_field:
    s += colname + '+'

In [32]:
s

'title_NRK1+desc_NRK1+'

In [33]:
df1.eval(s)

SyntaxError: invalid syntax (<unknown>, line 1)

In [35]:
s = '+'.join(colname_field)

In [36]:
df1.eval(s)

0     3
1     4
2    10
3    12
dtype: int64

In [75]:
pwd

'C:\\Users\\mqa54874'